.hero-main {
    background-color: white;
    padding: 50px 5%;
    display: grid;
    grid-template-areas:
        "logo"
        "menu"
        "collage";
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.hero-logo {
    grid-area: logo;
    font-family: "Abril Fatface", serif;
    text-align: center;
    font-size: 15vw; /* Responsive font size */
    color: #0A0908;
    max-font-size: 260px; /* Maximum font size */
}

.hero-menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    width: 100%;
    flex-wrap: wrap;
}

.hero-collage {
    display: flex;
    padding: 0px 0;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-collage img {
    max-width: 100%;
    height: auto;
}



@media screen and (max-width: 767px) {
    .hero-main {
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .hero-logo {
        font-size: 60px;
    }

    .hero-collage {
        display: flex;
        padding: 0px 0;
        background-color: #F2F2F2;
        justify-content: center;
        align-items: center;
        width: 250px;
    }

    .hero-menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }

    .hero-menu p {
        margin: 5px 0;
    }


    .hero-collage img {
        width: 100%;
        max-width: 400px;
    }
}


@media screen and (max-width: 440px) {
    .hero-main {
        padding: 30px 15px;
        gap: 10px;
    }

    .hero-logo {
        font-size: 55px;
    }

    .hero-menu {
        font-size: 16px;
    }

    .hero-collage {
        width: 300px;
    }
}

@media screen and (min-width: 440px) and (max-width: 767px) {
    .hero-main {
        padding: 30px 15px;
    }

    .hero-logo {
        font-size: 70px;
    }

    .hero-collage img {
        width: 800px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1376px) {
    .hero-main {

        gap: 40px;
    }

    .hero-logo {
        font-size: 100px;
    }

    .hero-menu {
        align-items: center;
    }
}